<form id="report" class="form-horizontal">
<fieldset>
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Name</label>
    <div class="col-md-8">
      <input id="textinput" name="name" type="text" placeholder="" class="form-control input-md">
    </div>
  </div>
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Email</label>
    <div class="col-md-8">
      <input id="textinput" name="email" type="email" placeholder="" class="form-control input-md">
    </div>
  </div>
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="wkt">Geometry WKT</label>
    <div class="col-md-8">
      <input id="textinput" name="wkt" type="text" placeholder="" class="form-control input-md" value="{{wkt}}" disabled>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="layer">Layer</label>
    <div class="col-md-8">

    <div class="radio">
      <label>
        <input type="radio" name="layer" id="precip_layer" value="precip" checked>
        Precip
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="layer" id="tmax_layer" value="tmax">
        Tmax
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="layer" id="tmin_layer" value="tmin">
        Tmin
      </label>
    </div>
    </div>
  </div>

  <!-- Textarea -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textarea">Report Details</label>
    <div class="col-md-8">
      <textarea class="form-control" id="textarea" name="report"></textarea>
    </div>
  </div>
</fieldset>
</form>
